
@{
    ViewBag.Title = "PlcConnection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid px-4">
    <h1 class="mt-4">Plc Logs Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">PLC CONTROL</li>
        <li class="breadcrumb-item active">Connection</li>
    </ol>
    <div class="card mb-4 container-fluid p-lg-5">

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <div class="card-header  bg-danger">
                        <h5 class="card-title">PLC 1</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">DISCONNECTED</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header  bg-success">
                        <h5 class="card-title">PLC 1</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">CONNECTED</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header  bg-success">
                        <h5 class="card-title">PLC 1</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">CONNECTED</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header  bg-success">
                        <h5 class="card-title">PLC 1</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">CONNECTED</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>