

<div class="mt-5 container-fluid">

    <h1 class="w3-jumbo w3-animate-top w3-center"><code>Acceso Restringido</code></h1>
    <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
    <h3 class="w3-center w3-animate-right">No tiene permisos para acceder a este sitio.</h3>
    <h1 class="w3-center w3-animate-zoom">🚫🚫🚫</h1>

    <div class="w3-center">
        <div class='hover'>
            <div class='background'>
                <div class='door'>403</div>
                <div class='rug'></div>
            </div>
            <div class='foreground'>
                <div class='bouncer'>
                    <div class='head'>
                        <div class='neck'></div>
                        <div class='eye left'></div>
                        <div class='eye right'></div>
                        <div class='ear'></div>
                    </div>
                    <div class='body'></div>
                    <div class='arm'></div>
                </div>
                <div class='poles'>
                    <div class='pole left'></div>
                    <div class='pole right'></div>
                    <div class='rope'></div>
                </div>
            </div>
        </div>
    </div>

</div>
